div {
    margin: 20px auto;
    width: 800px;
    height: 90px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 45px;
    background: #d7e2d790;
    border: 0.1rem solid gray;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    color: #2E3B8C
}

div > p {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
}

form {
    margin: 20px auto;
    width: 800px;    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 45px;
    background: #d7e2d790;
    border: 0.1rem solid gray;
    border-radius: 10px;
    box-shadow: 0 0 8px gray;
    color: #2E3B8C
}

input {
    width: 400px;
    height: 35px;
    margin: 10px;
    border-width: 3px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

button {
    width: 410px;
    height: 45px;
    border-width: 3px;
    border-radius: 10px;
    background-color: #B7D9E8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
}

button:hover {
    color: white;
}

button:active {
    color: black;
}